@model Workout

@{
    ViewData["Title"] = "Workout";
}

<div class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="header-text">
                    <h2>Add Workout Type</h2>
                    <div class="div-dec"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ***** Main Banner Area End ***** -->

<section class="top-section" style="margin-bottom:130px;">
    <div class="container">
        <div class="col-lg-10 offset-lg-1">
            <form id="calculate" action="" method="post">
                <div class="row">
                    <div class="col-lg-12">
                        <fieldset>
                            <label for="workoutname" style="color: black" asp-for="Name"> Workout Type </label>
                            <input type="text"
                                   name="Name"
                                   id="workoutname"
                                   placeholder=""
                                   autocomplete="on"
                                   asp-for="Name"
                                    />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </fieldset>
                    </div>
                    <div class="col-lg-12">
                        <fieldset>
                            <label for="calexp" style="color: black" asp-for="CalorieExpenditurePerMin">Calorie Expenditure (cal/min)</label>
                            <input type="text"
                                   name="CalorieExpenditurePerMin"
                                   id="calexp"
                                   placeholder=""
                                   asp-for="CalorieExpenditurePerMin" />
                            <span asp-validation-for="CalorieExpenditurePerMin" class="text-danger"></span>
                        </fieldset>
                    </div>

                    <div class="col-lg-12" style="display: flex; justify-content: center">
                        <fieldset>
                            <br />
                            <button type="submit" id="form-submit" class="orange-button">Add Workout Type</button>
                            <a href="/#workoutType" class="btn btn-secondary" style="width:150px">
                                <span>Back to List</span>
                            </a>
                        </fieldset>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>  

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}